@import '../vars';

.searchBox {
    background-color: $purple-dark-3;
    border-radius: 5px 5px 0px 0px;
    input {
        color: $purple-dark-text-color;
        font-weight: bold;
    }
    input::placeholder {
        color: #bdbdbd;
    }
}
.searchbox, .root- {
    &40 {
        border-bottom: 1px solid $purple-regular-1 !important;
    }
    &46::after {
        border-bottom: 2px solid $purple-regular-1 !important;
    }
}
.spinner {
    border-color: $purple-regular-1 !important;
}