@import '../vars';

div.navbar {
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, $purple-dark-3 0%,  $purple-dark-3 0% 90%, $purple-dark-2 91%, $purple-dark-1 100%);
    background-color: $purple-dark-3;
    margin-bottom: 30px;

    span {
        font-weight: bold;
        position: relative;
        top: 40%;
        left: 5%;
        font-size: 2rem;
    }
}
